<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_com_comp5615_domain_Users" modelAttribute="users" path="/signup" versionField="Version" z="u1yBwIPYkuqG2m18f5NdSvyElcM=">
        <field:input field="name" id="c_com_comp5615_domain_Users_name" min="2" required="true" z="jvrR1PC9VAEP8HkEDYwcKZ3ZBOw="/>
        <field:input field="email" id="c_com_comp5615_domain_Users_email" min="2" required="true" validationMessageCode="field_invalid_email" z="pnQTqL9vF5B8DILqmhZkLIAuCFI="/>
        <field:input field="description" id="c_com_comp5615_domain_Users_description" min="2" required="true" z="JnqrpOW948opNP7+C1g0AYXPCLQ="/>
        <field:simple field="createdCourses" id="c_com_comp5615_domain_Users_createdCourses" messageCode="entity_reference_not_managed" messageCodeAttribute="Course" z="+O6M23rgmw8tDcuFEx7H41DTTOk="/>
    </form:update>
</div>
