<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:find finderName="ByNameLike" id="ff_com_comp5615_domain_Course" path="/courses" z="JKFp06ti2zEsKjJkf1CvO5yyZ5U=">
        <field:input disableFormBinding="true" field="name" id="f_com_comp5615_domain_Course_name" min="2" required="true" z="s+ReJjkjEMfgyJ52B+v/ye+nNLo="/>
    </form:find>
</div>
